// Need a root div to grab as the start of the view
div
    // receives the <greet> variable from the supplied state object
    - var greeting = "Hello " + greet
    - var status = "You are currently " + onlineState.value
    p(style={color: "red"}) #{greeting}
    p #{status}
    button(id='clickMe' onclick=handler.clickMe) Click Me
    input(placeholder=placeholder onchange=[handler.updateMe,handler.targetValue])
    p #{text}
